<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Pricing example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/pricing.css}" rel="stylesheet">
</head>

<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <img class="my-0 mr-md-auto" src="/images/VS_Logo.svg" alt="LOGO" width="50" height="50">
    <!--<nav class="my-2 my-md-0 mr-md-3">-->
        <!--<a class="p-2 text-dark" href="#">Features</a>-->
        <!--<a class="p-2 text-dark" href="#">Enterprise</a>-->
        <!--<a class="p-2 text-dark" href="#">Support</a>-->
        <!--<a class="p-2 text-dark" href="#">Pricing</a>-->
    <!--</nav>-->
    <!--<a class="btn btn-outline-primary" href="#">Sign up</a>-->
</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Voting</h1>
    <p class="lead">Please choose with whom you would like to go on few beers and listen to his story.</p>
</div>
<div class="container">
<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Title</th>
        <th scope="col">Vote</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="candidate : ${candidates}">
        <th scope="row" th:text="${candidate.id}"></th>
        <th scope="row">  <img th:src="${'/images/' + candidate.imageUrl}" width="100" height="150"/></th>
        <th scope="row" th:text="${candidate.name}"></th>
        <th scope="row" th:text="${candidate.title}"></th>
        <td><a th:href="@{/voteFor(id=${candidate.id})}">Vote</a></td>
    </tr>
    </tbody>
</table>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/vendor/holder.min.js"></script>
<script>
    Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
    });
</script>
</body>
</html>