<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/signin.css}" rel="stylesheet">
  </head>
  <body class="text-center">

  <form style="background-color: #c8cbcf; border-style: solid;" class="form-signin" action="#" th:action="@{/doLogin}" method="post">
    <h4>Welcome to the </h4>
    <h2>Voting System</h2>
    <br/>
    <img class="mb-4" src="/images/VS_Logo.svg" alt="LOGO" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please enter your name:</h1>
    <!--<label for="name" class="sr-only">Email address</label>-->
    <input id="name" class="form-control" type="text" name="name" placeholder="Your name">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2018</p>
  </form>
  </div>
  </body>
  <!-- Bootstrap core JavaScript
================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script th:src="@{/assets/js/vendor/jquery-slim.min.js}"><\/script>')</script>
  <script th:src="@{/assets/js/vendor/popper.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
</html>
